
<%- include("header") -%>


<h1>This is the about page</h1>


<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>

<%- include("footer") -%>