<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- basic.html -->
    <title>To Do List</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>